<div class="space-y-6 animate-fade-in p-6">
  <div class="flex justify-between items-center bg-white p-4 rounded shadow">
    <h2 class="text-2xl font-bold text-gray-800">Periodos de Facturación</h2>

    @if (authService.isAuthenticated()) {
    <a mat-raised-button color="primary" routerLink="/periods/create">
      <mat-icon>add</mat-icon>
      Abrir Nuevo Periodo
    </a>
    }
  </div>

  <div class="mat-elevation-z8 overflow-auto">
    <table mat-table [dataSource]="periods()" class="w-full">
      <!-- Year Column -->
      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef>Año</th>
        <td mat-cell *matCellDef="let element">{{ element.year }}</td>
      </ng-container>

      <!-- Month Column -->
      <ng-container matColumnDef="month">
        <th mat-header-cell *matHeaderCellDef>Mes</th>
        <td mat-cell *matCellDef="let element">{{ element.month }}</td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let element">
          <mat-chip-option
            [color]="element.status === 'Open' ? 'primary' : 'warn'"
            selected
          >
            {{ element.status === "Open" ? "Abierto" : "Cerrado" }}
          </mat-chip-option>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          @if (authService.isAuthenticated() && element.status === 'Open') {
          <button mat-button color="warn" (click)="closePeriod(element)">
            <mat-icon>block</mat-icon>
            Cerrar Periodo
          </button>
          }
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
